html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
}

* {
    font-family: "Roboto", sans-serif;
    /*** Interesting..... Refer to http://stackoverflow.com/questions/4698054/css-does-the-width-include-the-padding */
    /*** Should Smooth the Fonts **/
    -webkit-font-smoothing: antialiased;
}
body {
    background-color: #fff;
    font-size: 16.6399993896484px;
    padding-top: 4.375rem;
}

a {
    text-decoration: none;
}


ol, ul {
    list-style: none;
}


/*** Basic Layout Elements **/
.content {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
}


/*** Basic UI Elements ****/
.button {
    display: inline-block;
    background-color: #f15a29;
    color: #fff;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
    width: 9.688rem;
    border: 1px solid #f15a29;
    transition: all 0.5s ease;
    line-height: 1.33;
}

.button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
}

/** Clearfix **/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix { display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*** Top Navigation Bar ****/
.top-navigation {
    background-color: white;
    border-bottom: 1px solid #ddd;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 4.375rem;
    z-index: 1000000;
}

.top-navigation > .content {
    height: 4.375rem;
}

.top-navigation .nav-items {
    float: right;
    margin: 0;
    padding: 0;
}

.top-navigation .nav-items > li {
    display: inline-block;
    margin-left: 1.5625rem;
}

.top-navigation .nav-items > li > a {
    display: inline-block;
    height: 4.375rem;
    line-height: 4.375rem;
    text-decoration: none;
    color: #838994;
    transition: color 1.0s ease;
}
.top-navigation .nav-items > li.active > a {
    font-weight: 500;
}
.top-navigation .nav-items > li.active > a,
.top-navigation .nav-items > li > a:hover
{
    color: #4c5058;
}

/*** AFeature ****/
.afeature {
    height: 41.5625rem;
    background: url(../img/afeature-background.jpg) no-repeat 50% 100%;
    background-size: cover;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    text-align: center;
}

.afeature > .afeature-content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.afeature h1, .afeature h3 {
    color: #fff;
    margin-top: 0;
    font-weight: 300;
}

.afeature h1 {
    margin-bottom: 1.25rem;
    font-size: 3.125rem;
}

.afeature h3 {
    font-size: 1.5625rem;
    margin-bottom: 1.5625rem;
}

/*** Cases ***/
.cases {
    text-align: center;
    padding-top: 7.845rem;
    padding-bottom: 5rem;
}
.cases h2 {
    font-size: 2.45rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 3.125rem;
}

.cases ul {
    padding-left: 0;
}

.cases ul > li {
    width: 33.3333333%;
    float: left;
}

.case-text {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0 1.875rem;
}

/**** Footer *****/
.site-footer {
    text-align: center;
}

.site-footer .content {
    border-top: 1px solid rgb(234, 235, 236);
    padding-top: 1.3125rem;
    padding-bottom: 9.375rem;
}

.site-footer h3 {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1.25rem;
}

.site-footer .social-media {
    padding-left: 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.25rem;
}

.site-footer .social-media > li {
    display: inline-block;
}

.site-footer .social-media > li > a {
    display: inline-block;
    width: 2.375rem;
    height: 2.375rem;
    border-radius: 10rem;
    border: 1px solid rgb(234, 235, 236);
    padding: 0.625rem 0;
    margin: 0 0.3125rem;
}

.site-footer .social-media > li.twitter > a {
    color: rgb(85, 172, 238);
}

.site-footer .social-media > li.facebook > a {
    color: rgb(76, 102, 164);
}

.site-footer .social-media > li.instagram > a {
    color: rgb(63, 114, 155);
}



.copyright {
    font-size: 0.875rem;
    color: #838994;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1.25rem;
}